run = "streamlit run streamlit_app.py --server.port 8080 --server.address 0.0.0.0 --server.headless true"
language = "python3"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run streamlit_app.py --server.port 8080 --server.address 0.0.0.0 --server.headless true"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
